<div class="flex h-screen">
  <%= render "shared/sidebar" %>

  <main class="flex-1 overflow-auto">
    <% section = params[:section] || "grimoire" %>

    <% if section == "grimoire" %>
      <%= render "projects/sections/grimoire" %>
    <% elsif section == "incantations" %>
      <%= render "projects/sections/incantations" %>
    <% elsif section == "visions" %>
      <%= render "projects/sections/visions" %>
    <% elsif section == "assembly" || section == "refine" %>
      <%= render "projects/sections/assembly" %>
    <% end %>
  </main>
</div>
